{% extends 'base.html' %}
{%  load static %}

{% block title  %}
    {% if category %}{{ category.name }}{% else %}Filmy{% endif %}
{% endblock %}

{% block content %}

       <style>
    @import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    color: #A6ACAF;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal; color: #A6ACAF;
}

a {
    text-decoration:none;
    color:#a5b7c4;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#96a6b3;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#a8b4bd;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;

}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}


#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#a5b7c4;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#D0D3D4;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #a5b7c4;
}

.order-info h3 {
    color:#a5b7c4;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}




    </style>
   <div class = "movie-detail">
        <img src="{{ movie.movie_poster.url }}" alt="{{ movie.name }}">
        <h3>{{ movie.name }}</h3>
        <h3><a href="{{ movie.category.get_absolute_url }}">{{ movie.category }}</a> </h3>
        <p class="cena"> {{ movie.price }} zł</p>
        <form action="{% url "cart:cart_add" movie.id %}" method="post">
            {{ cart_movie_form }}
            {% csrf_token %}
            <input type="submit" value="Dodaj do koszyka">
        </form>
        {{movie.movie_recenzja|linebreaks}}
   </div>

    {% with comments.count as total_comment %}
        <h4>
            {{ total_comments }}  Komentarz{{ total_comment|pluralize:"e" }}
        </h4>
    {% endwith %}

    {% for comment in comments %}
    <div class="comment">
      <p class="info">
        Komentarz {{ forloop.counter }} utworzony przez {{ comment.name }}
        {{ comment.created }}
      </p>

        <p class="info">
      {{ comment.body|linebreaks }}
        </p>
    </div>
  {% empty %}
    <p>Jeszcze nie ma komentarzy.</p>
  {% endfor %}
  {% if new_comment %}
    <h2>Dodano komentarz.</h2>
  {% else %}
    <h4>Dodaj komentarz</h4>
    <form method="post">
      {{ comment_form.as_p }}<br>
      {% csrf_token %}
      <p><input type="submit" value="Dodaj komentarz"></p>
    </form>
  {% endif %}

{%  endblock %}
